@tailwind base;
@tailwind components;
@tailwind utilities;

html *
{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 61px;
}

h2{
    font-size: 49px;
}

h3{
    font-size: 39px;
}

h4{
    font-size: 31px;
}

h4{
    font-size: 25px;
}

h6{
    font-size: 20px;
}

.body1{
    font-size: 16px;
}
.body2{
    font-size: 13px;
}
.caption{
    font-size: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}